@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
html, body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#app {
    display: flex;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    padding: 40px;
    flex-direction: column;
}

.navigation {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

.navigation a {
    width: 30px;
    margin: 5px;
    height: 30px;
    padding: 10px;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: hsl(350, 100%, 70%);
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
}
