.color-picker {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fa-undo-alt {
    margin-right: 5px;
}

.fa-redo-alt {
    margin-left: 5px;
}