.title {
    text-align: center;
    margin-bottom: 20px;
}

.color-input {
    border: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

.btn:focus,
.color-input:focus,
.preview-button:focus,
.button-primary-color:focus {
    outline: none;
}

.color-preview {
    flex: 1;
    display: flex;
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.button-primary-color {
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-card {
    margin-top: 20px;
}

.card-accent-border {
    display: flex;
    padding: 20px;
    max-width: 350px;
    line-height: 1.5;
    border-style: solid;
    border-width: 5px 0 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-color: lightgray;
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
}

.card {
    border: 0;
    width: 200px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 7px;
    background-color: white;
    border-color: lightgray;
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
}

.circle-icon {
    width: 15px;
    height: 15px;
    margin: -3px 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: lightgray;
}

.menu-item {
    margin: 5px 0;
}

.menu-label {
    font-size: 14px;
    color: #5d6670;
    font-weight: bold;
    margin-right: 10px;
}

.badge-accent-color {
    font-size: 10px;
    padding: 3px 7px;
    font-weight: bold;
    border-radius: 7px;
    vertical-align: middle;
    text-transform: uppercase;
}

.alert-primary-color {
    margin: 20px 10px;
    padding: 15px;
    max-width: 400px;
    border-radius: 5px;
    border: 2px solid gray;
}

.alert-primary-color .alert-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.alert-primary-color .alert-body {
    margin: 5px 0 0;
    font-size: 14px;
}

.form {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: gray;
    border: 1px solid gray;
}

.form h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.form h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 18px 0 6px 0;
}

.form p {
    font-size: 12px;
    margin: 6px 0 18px 0;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form input:focus {
    outline: none;
}

.form-buttons {
    margin-top: 20px;
}
